
.navbar{
    background-color: rgba(2, 157, 247, 0.695) !important; 
  
}
header div a{
    color: white !important; 
}

nav{
    background-image:url(./fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    color: white;
}

nav div{
    margin-left: 10%;
    display: flex;
}

nav div h1{
    margin-top: 20%;
}

.aulas{
    margin: 3%;
}

.aulas img{
    height: 400px;
}

section{
    background-color: rgb(218, 232, 249);
}
.btn{
    background-color: rgb(24, 16, 87);
}