.section-aulas{
    background-color:rgba(124, 169, 194, 0.25) ;
}
.cor-azul{
    color: #00A4FF;
}
.card-body ul li{
    align-items: flex-start !important;
    color:#00A4FF;
      
}
.card-body ul li span{
    align-items: flex-start !important;
    color:#8496A0;
      
}
.section-aulas .btn{
    width: 80%;
    background-color: #01304A;
    border: none;
}
.div-contato{
  margin: 0;
}
.div-contato-c{
    width: 20%;

}
.div-contato-c P{
    color: #8496A0;
}

.div-contato-f{
    width: 50%;
    color: #8496A0;
    
}
.div-contato-f input{
    width: 70%;
    height: 30px;
    background-color: #EDF4F8;
    border: none;
} 
.div-contato-f textarea{
    width: 70%;
   height: 100px;
   background-color: #EDF4F8;
   border: none;
  
} 
.div-contato .btn{
    background-color: #01304A;
    width: 40%;
    border: none;
    height: 45px;
}

@media only screen and (max-width: 600px){
    .skate-sol{
        max-height: 30vh;
    }
}